@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


        	

body{

    width: 100%;
    height: 100vh;

}

.topo{

    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    background-color:#fafafa;
    width:100%;
    padding:20px;
}

.topo>div>h1{

    font-family:sans-serif;
    font-size:calc(60% + 1.7vmin);
    color:#091747;
    margin-left:40px;
    
}

.topo>button{

    border:none;
    background-color:#026fc7;
    padding:25px;
    width:100%;
    max-width:300px;
    min-width: 200px;
    border-radius:5px;
    margin-right:30px;
   
}


.topo>button:hover{

    background-color:#003d70;
}

.topo>button>p{

    font-family: 'Ubuntu', sans-serif;
    font-size:calc(60% + 0.9vmin);
    color:#ffffff;
    letter-spacing:1.5px;

}

.secao{

    display:flex;
    align-items:center;
    flex-direction:row;
    justify-content:space-around;
    flex-wrap:wrap;
    margin-top:50px;
    margin-bottom:200px;
}


.secao>div{

    display:flex;
    flex-direction: column;
    gap:20px;
}

.secao>div>h1{

    font-family:sans-serif;
    font-size:calc(60% + 5vmin);
    color:#091747;
    


}

.secao>div>p{

    font-family:sans-serif;
    font-size:calc(60% + 0.9vmin);
    color:#3b3b3b;
    line-height:25px;
    
}


.secao>div>button{

    width:100%;
    max-width:300px;
    min-width:200px;
    border:none;
    padding:15px;
    background-color:#026fc7;
    border-radius:5px;
    margin-top:20px;
}

.secao>div>button:hover{

    background-color:#003d70;
}

.secao>div>button>p{

    font-family: 'Ubuntu', sans-serif;
    font-size:calc(60% + 0.8vmin);
    color:#ffffff;
    letter-spacing:1.5px;
}


.secao>img{

    width:100%;
    max-width:400px;
}


.cardone{

    display:flex;
    align-items:center;
    flex-direction:row;
    justify-content:space-around;
    background-color:#fafafa;
    width:100%;
    flex-wrap:wrap;
    
}



.cardone>article{

    display:flex;
    flex-direction:column;
    gap:20px;
    margin-top:80px;
    margin-bottom:80px;
}

.cardone>article>h1{

    font-family:sans-serif;
    font-size:calc(60% + 4vmin);
    color:#091747;
}

.cardone>article>p{

    font-family:sans-serif;
    font-size:calc(60% + 1vmin);
    color:#3b3b3b;
    line-height:25px;
}

.cardone>article>button{

    width:100%;
    max-width:300px;
    min-width:200px;
    border:none;
    padding:15px;
    background-color:#026fc7;
    border-radius:5px;
    
}


.cardone>article>button>p{

    font-family: 'Ubuntu', sans-serif;
    font-size:calc(60% + 0.8vmin);
    color:#ffffff;
   
}

.cardone>img{

    width:100%;
    max-width:250px;
}



.rodape{

    width:100%;
    height:60vh;
    background-image:url('../img/imgrodape.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    
    
}


.rodape>div{

    display:flex;
    flex-direction:column;
    align-items:flex-start;
    gap:20px;
    margin-left:50px;
    padding-top:200px;
   
   
}

.rodape>div>button{

    width:100%;
    max-width:300px;
    min-width:200px;
    border:none;
    padding:15px;
    background-color:#026fc7;
    border-radius:5px;
}

.rodape>div>button>p{

    font-family: 'Ubuntu', sans-serif;
    font-size:calc(60% + 0.8vmin);
    color:#ffffff;
}


.rodape>div>h2{

    font-family:sans-serif;
    font-size:calc(60% + 4vmin);
    color:#fafbff;
    text-shadow:0px 0px 1px black;
}


.rodape>div>p{

    font-family: 'Ubuntu', sans-serif;
    font-size:calc(60% + 0.9vmin);
    color:#ffffff;
    text-shadow:0px 0px 1px black;

}


.rodapetwo{

    background-color:#040a1f;
    width:100%;
    padding:40px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
}

.rodapetwo>p{

    font-family: 'Ubuntu', sans-serif;
    font-size:calc(60% + 0.9vmin);
    color:#ffffff;
}

@media screen and (max-width: 700px) {
    .secao{
    
        padding:20px;
        margin-bottom:50px;

    }

    .topo>button{

        margin-right:0px;

    }


    .topo>div>h1{

        display:none;
       
    }

    .cv{

        display:none;
    }

    .secao>img{

        margin-top:50px;
    }

    .cardone>img{

        display:none;
    }


    .secao>div>h1{

        font-size:calc(60% + 8vmin);
    }

    .secao>div>p{

        font-size:calc(60% + 2vmin);
    }

    

  }